
div {
	background-image: url("stadium.jpg");
	text-align: center;
}

h1 {
	color: green;
	font-weight: bold;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	font-size: 48px;
}

#word {
	letter-spacing: 8px;
	font-family: 'Luckiest Guy', cursive;
	font-size: 32px;
	color: blue;
}
#guess-letters {
	letter-spacing: 10px;
	color: red;
}

